#canvasHolder{
    margin: 0 auto;
    width: 800px;
    height: 600px;
    border: 1px #000 solid;
    position: relative;
}
#canvasHolder canvas{
    width: 800px;
    height: 600px;
    position: absolute;
    left: 0;
    top:0;
}
canvas#layer1{ z-index: 1;}
canvas#layer2{ z-index: 2;}
canvas#layer3{ z-index: 3;}